<h3><%= @list.name %></h3>

<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% @list.bookmarks.each do |bookmark| %>
<%= bookmark.comment %>
<%= link_to "Delete", bookmark_path(bookmark),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>

<%= link_to "+Add a new bookmark", new_list_bookmark_path(@list) %>
